Source: geda-gaf
Section: electronics
Priority: optional
Maintainer: Debian Electronics Team <pkg-electronics-devel@lists.alioth.debian.org>
Uploaders: Peter Clifton <pcjc2@cam.ac.uk>, أحمد المحمودي (Ahmed El-Mahmoudy) <aelmahmoudy@users.sourceforge.net>
Standards-Version: 4.4.1
Build-Depends: debhelper (>= 11), libgtk2.0-dev (>= 2.16.0), guile-2.2-dev, libgd-dev, libxml-parser-perl, ghostscript, transfig, groff, libglib2.0-dev, flex, intltool, libfam-dev | libgamin-dev, dh-python, python-all-dev, texinfo
Homepage: http://www.geda-project.org/
Vcs-Git: https://salsa.debian.org/electronics-team/geda-gaf.git
Vcs-Browser: https://salsa.debian.org/electronics-team/geda-gaf

Package: geda
Architecture: all
Depends: ${misc:Depends}, geda-gschem, geda-gnetlist, geda-doc
Recommends: geda-gsymcheck, geda-gattrib
Suggests: geda-utils, geda-examples, gerbv, pcb
Description: GPL EDA -- Electronics design software (metapackage)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This is a metapackage which depends on the components required
 for a typical gEDA installation.

Package: libgeda47
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}, libgeda-common (>= ${source:Version}), libgeda-common (<< ${source:Version}.1~)
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: GPL EDA -- Electronics design software (library files)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains shared libraries for gEDA.

Package: libgeda-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, ${shlibs:Depends}, libgeda47 (= ${binary:Version}), libgtk2.0-dev, guile-2.2-dev, libgd-dev
Pre-Depends: ${misc:Pre-Depends}
Description: GPL EDA -- Electronics design software (development files)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains the header files and static libraries which are needed
 for developing applications linked to the libgeda library.

Package: libgeda-common
Architecture: all
Depends: ${misc:Depends}
Conflicts: libgeda20, libgeda29, libgeda33
Breaks: geda-symbols (<< 1:1.2.0)
Replaces: geda-symbols (<< 1:1.2.0)
Multi-Arch: foreign
Description: GPL EDA -- Electronics design software (data files)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains the shared scripts and data-files required by the
 libgeda library. It also contains MIME-type registrations and icons for the
 file formats supported by the gEDA suite.

Package: geda-symbols
Architecture: all
Depends: ${misc:Depends}
Conflicts: libgeda20, libgeda29
Description: GPL EDA -- Electronics design software (symbols library)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package includes the device symbols files for gschem.

Package: geda-gschem
Architecture: any
Breaks: geda (<= 19990516-1)
Depends: ${misc:Depends}, ${shlibs:Depends}, geda-symbols (>= 1:1.7.1), geda-symbols (<< 1:1.9.0~)
Recommends: extra-xdg-menus
Description: GPL EDA -- Electronics design software (schematic editor)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains gschem, the schematic editor.

Package: geda-gattrib
Architecture: any
Breaks: geda (<= 19990516-1)
Depends: ${misc:Depends}, ${shlibs:Depends}, geda-symbols (>= 1:1.7.1), geda-symbols (<< 1:1.9.0~)
Recommends: extra-xdg-menus
Description: GPL EDA -- Electronics design software (attribute editor)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains gattrib, the attribute editor.

Package: geda-gnetlist
Architecture: any
Breaks: geda (<= 19990516-1)
Depends: ${misc:Depends}, ${shlibs:Depends}, geda-symbols (>= 1:1.7.1), geda-symbols (<< 1:1.9.0~)
Description: GPL EDA -- Electronics design software (netlister)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains gnetlist, the netlist generator.

Package: geda-gsymcheck
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, geda-symbols (>= 1:1.7.1), geda-symbols (<< 1:1.9.0~)
Description: GPL EDA -- Electronics design software (symbol checker)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains gsymcheck, the symbol checker.

Package: geda-utils
Architecture: any
Breaks: geda (<= 19990516-1)
Replaces: geda-gnetlist (<< 1:1.8.0)
Depends: ${misc:Depends}, ${shlibs:Depends}, python3, gawk, mawk
Description: GPL EDA -- Electronics design software (utilities)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains miscellaneous utilities related to gEDA.

Package: geda-cli
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, python3, gawk, mawk
Description: GPL EDA -- Electronics design software (gaf utility)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains the gaf utility.

Package: geda-examples
Recommends: geda
Architecture: all
Depends: ${misc:Depends}
Description: GPL EDA -- Electronics design software (example designs)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains example designs created with gEDA.

Package: geda-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: GPL EDA -- Electronics design software (documentation)
 The gEDA project has produced and continues working on a full GPL'd suite and
 toolkit of Electronic Design Automation tools. These tools are used for
 electrical circuit design, schematic capture, simulation, prototyping, and
 production. Currently, the gEDA project offers a mature suite of free software
 applications for electronics design, including schematic capture, attribute
 management, bill of materials (BOM) generation, netlisting into over 20
 netlist formats, analog and digital simulation, and printed circuit board
 (PCB) layout.
 .
 This package contains the documentation.

