#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

TEST_HOME=$(CURDIR)/tmp-home

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean
	rm -rf $(TEST_HOME)

override_dh_auto_configure:
	dh_auto_configure -- --with-rcdir=/etc/gEDA 				\
	                     --disable-static               \
	                     --disable-update-xdg-database	\
	                     --disable-rpath LDFLAGS="$(LDFLAGS) -Wl,--as-needed"

override_dh_auto_test:
	mkdir -p $(TEST_HOME)
	HOME=$(TEST_HOME) PERL_USE_UNSAFE_INC=1 dh_auto_test

LIBPKG=libgeda47
DEVPKG=libgeda-dev
COMMONPKG=libgeda-common

override_dh_auto_install:
	dh_auto_install --sourcedirectory=xorn    -- DESTDIR=$(CURDIR)/debian/tmp
	dh_auto_install --sourcedirectory=libgeda    -- DESTDIR=$(CURDIR)/debian/tmp
	dh_auto_install --sourcedirectory=libgedacairo -- DESTDIR=$(CURDIR)/debian/tmp
	dh_auto_install --sourcedirectory=gschem     -- DESTDIR=$(CURDIR)/debian/geda-gschem
	dh_auto_install --sourcedirectory=gattrib    -- DESTDIR=$(CURDIR)/debian/geda-gattrib
	dh_auto_install --sourcedirectory=gnetlist-legacy   -- DESTDIR=$(CURDIR)/debian/geda-gnetlist
	dh_auto_install --sourcedirectory=gsymcheck  -- DESTDIR=$(CURDIR)/debian/geda-gsymcheck
	dh_auto_install --sourcedirectory=utils      -- DESTDIR=$(CURDIR)/debian/geda-utils
	dh_auto_install --sourcedirectory=gaf        -- DESTDIR=$(CURDIR)/debian/geda-cli
	dh_auto_install --sourcedirectory=symbols    -- DESTDIR=$(CURDIR)/debian/geda-symbols
	dh_auto_install --sourcedirectory=docs       -- DESTDIR=$(CURDIR)/debian/geda-doc
	dh_auto_install --sourcedirectory=examples   -- DESTDIR=$(CURDIR)/debian/geda-examples
	mv $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/xorn/storagemodule.so \
	   $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/xorn/storage.$(DEB_HOST_MULTIARCH).so
	mv $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/xorn/guilemodule.so \
	   $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/xorn/guile.$(DEB_HOST_MULTIARCH).so
	sed -i "/dependency_libs/ s/'.*'/''/" \
	   $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/xorn/*.la
	rm $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/*/*.py?
	rm $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/*/*/*.py?
	rm $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/xorn/*.py?
	rm $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/xorn/backends/*.py?
	mv $(CURDIR)/debian/tmp/usr/bin/gnetlist \
	   $(CURDIR)/debian/geda-gnetlist/usr/bin/gnetlist
	mkdir -p $(CURDIR)/debian/geda-gnetlist/usr/lib/$(DEB_HOST_MULTIARCH)/xorn
	mv $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/xorn/backends \
	   $(CURDIR)/debian/geda-gnetlist/usr/lib/$(DEB_HOST_MULTIARCH)/xorn/backends
	mv $(CURDIR)/debian/geda-doc/usr/share/man/man1/gnetlist.1 \
	   $(CURDIR)/debian/geda-gnetlist/usr/share/man/man1/gnetlist.1
	rmdir $(CURDIR)/debian/geda-doc/usr/share/man/man1/
	rmdir $(CURDIR)/debian/geda-doc/usr/share/man/

override_dh_installdocs:
	dh_installdocs -Ngeda -Ngeda-doc
	dh_installdocs -pgeda-doc --doc-main-package=geda-doc
	dh_installdocs -pgeda --link-doc=geda-doc
	# Work around install location in some geda- packages:
	for p in geda-gnetlist geda-gschem geda-gsymcheck geda-utils geda-symbols geda-doc geda-gattrib geda-cli; do \
	  rm -rf debian/$$p/usr/share/doc/geda-gaf/man ; \
	  [ ! -d debian/$$p/usr/share/doc/$$p ] || ( \
	    mv debian/$$p/usr/share/doc/geda-gaf/*  \
	       debian/$$p/usr/share/doc/$$p/ ; \
	    [ ! -d debian/$$p/usr/share/doc/$$p/readmes ] || \
	      mv debian/$$p/usr/share/doc/$$p/readmes/*  \
	         debian/$$p/usr/share/doc/$$p/ ) ; \
	  rm -rf debian/$$p/usr/share/doc/$$p/readmes; \
	  rm -rf debian/$$p/usr/share/doc/geda-gaf ; \
	done

override_dh_installchangelogs:
	dh_installchangelogs libgeda/ChangeLog   -p $(COMMONPKG) -p $(LIBPKG)
	dh_installchangelogs                     -p $(DEVPKG)
	dh_installchangelogs symbols/ChangeLog   -p geda-symbols
	dh_installchangelogs docs/ChangeLog      -p geda-doc
	dh_installchangelogs examples/ChangeLog  -p geda-examples
	dh_installchangelogs gschem/ChangeLog    -p geda-gschem
	dh_installchangelogs gattrib/ChangeLog   -p geda-gattrib
	dh_installchangelogs gnetlist-legacy/ChangeLog  -p geda-gnetlist
	dh_installchangelogs gsymcheck/ChangeLog -p geda-gsymcheck
	dh_installchangelogs utils/ChangeLog     -p geda-utils
	dh_installchangelogs gaf/ChangeLog       -p geda-cli

override_dh_installexamples:
	dh_installexamples -XMakefile -X.in
	# Work around install locations in geda-examples
	[ ! -d debian/geda-examples ] || \
		( cd debian/geda-examples/usr/share/doc && mv geda-gaf/examples geda-examples/ && rmdir geda-gaf )
	# In geda-symbols nc.pdf should rather be in examples dir:
	[ ! -d debian/geda-symbols/usr/share/doc/geda-symbols ] || \
		( cd debian/geda-symbols/usr/share/doc/geda-symbols && mkdir -p examples && mv nc.pdf examples/ )

override_dh_compress:
	dh_compress -Xwiki -X.sch -Xgeda-examples/examples -X.sym

override_dh_makeshlibs:
	dh_makeshlibs -a -V'$(LIBPKG) (= $(DEB_VERSION))'
